#  Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# temp archive files
.files/

# other uncessarry files
.DS_Store

# ignore go files
vendor/
