dist: focal

language: minimal

stages:
  - lint
  - deploy

if: branch = master OR type = pull_request OR tag is present

jobs:
  include:
    - stage: lint
      name: Project Syntax Verification
      script: make docker/run target=lint
    - stage: deploy
      if: branch = master AND type = push AND repo = plus3it/terraform-aws-vault
      before_script:
        - |
          PRIOR_VERSION=$(git describe --abbrev=0 --tags)
          RELEASE_VERSION=$(grep current_version $TRAVIS_BUILD_DIR/.bumpversion.cfg | sed 's/^.*= //' )
          RELEASE_BODY="* [terraform-aws-vault v$RELEASE_VERSION CHANGELOG](https://github.com/plus3it/terraform-aws-vault/blob/$RELEASE_VERSION/CHANGELOG.md)"
          export PRIOR_VERSION RELEASE_VERSION RELEASE_BODY
      script: skip
      before_deploy:
        - |
          (set -x; git tag -a $RELEASE_VERSION -m $RELEASE_VERSION)
      deploy:
        provider: releases
        api_key:
          secure: Rwmd3ybrVXU0cyooDqESiWegHefduJcjoUTa3D2paGRSCIc0RhEPj3WcMyo1TzZ3GffkM0j8WALZnGAP3o3rfgkcLBzrjeCqHD99bmHBfTpXsSNdoSoguPiBPuMzaLFtTKs1F1eVsS15p1iA2lJZInqhmOOcBlj1KghD6vvoXeY1mRq2Is7WKt4Xm+Q+yulOTUxQHAS2JyrOOWqMZGathkolRxyeAuqAreKZPOE0OfdnRQfE59IcU+4pPK7fDQSzNeKvoSDc9dujBuRKc8ucaVvSak/87t69G/9GnbV8GEZ/GjJs8TdNL1wjxcTwazyjo1TwEh0lBQKqwro7WMXATC0GV/c0IR2Ou+NvWJBsU5kSB+bweKcPDuC2GHKJ3O2rPZkKSFo5Qy+X1dYRqVGWHQQQDPb2HLifkrTLL+xkWgk7vE9b3skclg44rfo0PtCEW8yY7gxK6w46mCTLLsUweKSBgn9dadZnlH72g7D4r37s6lROj0LIddDzBcg99k44RucNC6lxV/0UuwQ29j5vbJfx/6Dfthw+liv//sl4nrdwESA47MV565pljkNSlKsadv9+0e6K0Xi1CpsmT/psM5Iul81Ymesxg0JvO/ThTemsGbkg8FUQ96hLu9tl9oN4zP2LjyRi9qm157sPMNsmTBPbmyiM0vd6V75TA2Bf1OU=
        name: $RELEASE_VERSION
        body: $RELEASE_BODY
        tag_name: $RELEASE_VERSION
        target_commitish: $TRAVIS_COMMIT
        draft: false
        on:
          branch: master
          repo: plus3it/terraform-aws-vault
          condition: '"$PRIOR_VERSION" != "$RELEASE_VERSION"'
